
div(id="annex-page",style="height:100%;")
script(src="/!/admin/annex/page/public/annex-page.js")
script(type="text/javascript").
  var node = document.getElementById('annex-page');
  var app = Elm.Main.embed(node);